<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="./css/app-theme.css">
	<script type="text/javascript" src="./node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript">

	</script>
</head>
<body ng-app="nglab">
	<div class="container">
		<button type="button" id="trigger" style="display: none;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			Launch demo modal
		</button>
		<div class="row">
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div id="logincontainer" style="margin-top: 80px">
					<div class="col-sm-4 col-sm-offset-4">
						<div class="panel panel-primary" style="box-shadow: 0 0 18px;">
							<div class="panel-heading">Log in</div>
							<div class="panel-body">
								<form action="" ng-controller="loginController">
									<div class="form-group">
										<!-- <label for="username1">username</label> -->
										<input type="text" placeholder="username" ng-model="username" required="" value="{{username}}" class="form-control" id="username1"/>
									</div>

									<div class="form-group">
										<!-- <label for="password1">password</label> -->
										<input type="password" required="" placeholder="password" ng-model="password" value=="{{user.password}}" class="form-control" id="password1"/>
									</div>
									<button class="btn btn-primary btn-lg btn-block">submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./js/app-script.js"></script>
</body>
</html>